# Use case : Regression
dataset 1 : used_cars →
 https://www.kaggle.com/datasets/taeefnajib/used-car-price-prediction-dataset

dataset2 : dataset →



> Importing libraries

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

sns.set(style="whitegrid")

ModuleNotFoundError: No module named 'pandas'

> importing datasets

In [ ]:
#import of the dfs
df1=pd.read_csv("used_cars.csv")
df2=pd.read_csv("dataset.csv")

> datasets overview

In [ ]:
#a look into the dfs
df1
df2

In [ ]:
print(df1.dtypes)
print(df2.dtypes)

#as we can see the common data from both dataframes has different types so we need to change them

> # Regression _ Data Cleaning

In [ ]:
#let's see if we have null values
print(df1.isnull().sum())
print(df2.isnull().sum())

In [ ]:
dfC1 = df1.dropna()
dfC2 = df2.dropna()

In [ ]:
#let's see if we have null values
print(dfC1.isnull().sum())
print(dfC2.isnull().sum())
#as we see we have no more null values

In [ ]:
#milage had the miles symbol so we couldnt convert it to int so we deleted the symbol
# Assuming dfC1 is your DataFrame

# Update milage column
dfC1.loc[:, 'milage'] = dfC1['milage'].str.replace('\D', '', regex=True)

# Update price column
dfC1.loc[:, 'price'] = dfC1['price'].str.replace('\D', '', regex=True)

#an error will be shown cauz now i have already deleted in the dataframe

In [ ]:
#now convert the columns

# Assuming dfC1 is your DataFrame

# Convert 'milage' column to int
dfC1.loc[:, 'milage'] = dfC1['milage'].astype(int)

# Convert 'price' column to int
dfC1.loc[:, 'price'] = dfC1['price'].astype(int)

# Convert 'accident' column to boolean
dfC1.loc[:, 'accident'] = np.where(dfC1['accident'] != 'None reported', True, False)

dfC1

In [ ]:
#same process for the second df
dfC2['Mileage'] = dfC2['Mileage'].str.replace('\D', '', regex=True)
dfC2['New_Price'] = dfC2['New_Price'].str.replace('\D', '', regex=True)

In [ ]:
dfC2["Mileage"] = dfC2["Mileage"].astype(int)
dfC2["New_Price"] = dfC2["New_Price"].astype(int)
#df2.dtypes
#df2.head()

In [ ]:
print(dfC1.dtypes)
print(dfC2.dtypes)

In [ ]:
#for the second df we need to multiply the price by 1000
dfC2['Price'] = dfC2['Price']*1000